.main-container-box {
  position: relative;
  background-color: rgba(47, 47, 47, 1);
}

.main-container-overlay {
  height: 10px;
  width: 100%;
  position: absolute;
  top: -10px;
  background-color: rgba(47, 47, 47, 1);
  border-radius: 20px 20px 0px 0px;
  z-index: index 1000;
}

.card--container {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  border: 1px;
  gap: 8px;
  background-color: rgba(47, 47, 47, 1);
  padding: 0px 20px 20px 20px;
  border: 1px;

  border-image-source: radial-gradient(
      67.78% 79.79% at 56.25% 15.41%,
      rgba(148, 148, 148, 0.9) 0%,
      rgba(61, 60, 60, 0.4) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.container--details h1 {
  font-size: 18px;
  font-weight: 700;
  padding: 8px 0;
}

.container--details p {
  font-size: 12px;
  font-weight: 400;
  font-family: inter;
  margin-bottom: 0.8rem;
}

.container-cards {
  display: grid;
  gap: 10px;
}
