.leaderboard-personal-container {
  gap: 0px;;
  border-radius: 8px 8px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  padding:8px 20px 8px 20px;
  background: radial-gradient(
      56.74% 76.71% at 48.59% 19.18%,
      rgba(24, 24, 24, 0.8) 0%,
      rgba(89, 89, 89, 0.64) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-top: 1px solid;
  border-image-source: radial-gradient(
      47.33% 64.46% at 52.5% 31.43%,
      rgba(255, 255, 255, 0.632) 0%,
      rgba(87, 87, 87, 0.8) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.leaderboard-personal-heading {
  display: flex;
   justify-content: space-between;
  align-items: center;
  padding:0px 0px 8px 0px;
 
}

.leaderboard-personal-heading-best {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  text-align: left;
 
}
.button-all-score {
width: 84px;


}


/*.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
*/

.popup {

  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid;
  bottom: 0%;
  left: 50%;
  border: 1px solid; /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  background: radial-gradient(
    56.74% 76.71% at 48.59% 19.18%,
    rgba(24, 24, 24, 0.8) 0%,
    rgba(35, 35, 35, 0.64) 100%
  ); /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  background-color: #414040;


padding: 0px 12px 16px 12px;
gap: 12px;

border: 1px 0px 0px 0px;
opacity: 0px;

}

.popup-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0px;
  gap:0px;
  

}
.a{
    margin-right:0px;
}
.popup-close-btn {
  width: 20px;
  height: 20px;
  top: 2px;
  left: 274px;
  gap: 0px;
  opacity: 0px;

  background: var(--Teho-White, #f4f4f4);
  border-radius: 100%;
  background: var(--Teho-White, #f4f4f4);

  border-color: none;
}

.leaderboard-personal-button {
  width: 84px;
  height: 8px;
  gap: 10px;
  opacity: 0px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.52px;
  text-align: center;
}
.pop-heading {
  font-family: Inter;
  font-size: 16px;
  font-weight: 800;
  line-height: 19.36px;
  text-align: center;
  width:98%;
  
}
.pop-up-main {
 
  justify-content: space-between;
padding:16px 2px 12px 12px;
  display: flex;
}
.tab {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #f4f4f4;
  border-bottom: 2px solid transparent;
  border: 2px solid;
  background: radial-gradient(
      56.74% 76.71% at 48.59% 19.18%,
      rgba(161, 161, 161, 0.45) 0%,
      rgba(61, 61, 61, 0.3) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  text-align: center;

  border-image-source: radial-gradient(
      72.33% 147.29% at 52.92% 25.96%,
      #909090 0%,
      #414040 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.tab.active {
  border-bottom: 2px solid #e0f2fe;
  color: #e0f2fe;
  background: var(--Teho-Orange, #f8990b);

  border: 2px solid #ffd25e;
}

.leaderboardpersonal-background {
  overflow-y:auto;
  max-height:400px;
  gap:10px;
  padding:0px 8px 0px 0px;
 
}
.leaderboardpersonal-background::-webkit-scrollbar {
  width: 10px;
  height: 392px;
  gap: 10px;
  opacity: 0px;
}
.leaderboardpersonal-background::-webkit-scrollbar-thumb {
  background: var(--Teho-Orange, #f8990b);
  border-radius: 4px;
}

.leaderboarder-header-background {
  padding: 12px 12px 12px 12px;
  gap: 8px;
  border-radius: 4px 4px 4px 4px;
  opacity: 0px;
  background-color: black;

}

.customer-global-popup-leader-board-overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 500;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 24, 24, 0.5);
  position: fixed;
}
.cross-button{
    background-color:#F4F4F4;
    border-radius:50%;
    color:black;
    width: 20px;
    height: 20px;
    top: 2px;
    padding:3px;
    font-size:80px;
    display: flex;
    justify-content: end;
    align-items: end;
    
    
}
.cross{
    display: flex;
    align-items: end;
    flex-direction: end;
}
.race-help-retrieve-button-component{
    display: flex;
    justify-content: space-between;
    padding:8px 0px 8px;
}


  

  .leaderboardpersonal-background::-webkit-scrollbar-track {
    width: 10px; 
    background:#494949; 
    border-radius: 10px; 
  }
  
 
  .leaderboardpersonal-background::-webkit-scrollbar-thumb {
    background:#F8990B; /* Set the background color of the thumb */
    border-radius: 10px; /* Add rounded corners to the thumb */
  }
  
  
  .leaderboardpersonal-background::-webkit-scrollbar-thumb:hover {
    background:#F8990B;
  }