.payment--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px 20px 20px;
  background-color: #000;
}

.payment h1 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.name--input {
  display: flex;
  flex-direction: column;
  gap: 1px;
  color: white;
}

.name--input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  margin-bottom: 10px;
  background-color: rgba(47, 47, 47, 1);
}

.mobile--input {
  display: flex;
  flex-direction: column;
  gap: 1px;
  color: white;
}

.mobile--input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  margin-bottom: 10px;
  background-color: rgba(47, 47, 47, 1);
}

.payment--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
