.customer-leader-board-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: radial-gradient(
    56.74% 76.71% at 48.59% 19.18%,
    rgba(28, 177, 217, 0.9) 0%,
    rgba(28, 177, 217, 0.6) 100%
  );
  padding: 12px 10px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}

.customer-leader-board-header .--txt {
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}
