.leader-board-layout-container {
  display: flex;
  flex-direction: column;
}

.leader-board-layout-container .leader-board-top-container {
  height: 70px;
}


.leader-board-layout-container .leader-board-footer-container {
  height: 70px;
}

.non-tournament-leader-board {
  display: flex;
  gap: 0px;
}

.non-tournament-leader-board .--non-lb-container {
  width: 33%;
  height: 100dvh;
}
