.user-booking-queue-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  padding: 16px;
  border-radius: 8px;
}

.user-booking-queue-container .user-booking-queue-container-top {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.user-booking-queue-container .user-booking-information-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background-color: #494949;
  border-radius: 4px;
}

.user-booking-queue-container .user-booking-top-section {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.user-booking-queue-container
  .user-booking-top-section
  .user-booking-top-section-start {
  width: 40%;
  border-right: 1px solid #c1c1c1;
  text-align: center;
}

.user-booking-queue-container
  .user-booking-top-section
  .user-booking-top-section-start
  .--text {
  color: var(--teho-orange-color);
  font-size: 20px;
  font-weight: 900;
}

.user-booking-queue-container .user-booking-top-section-end {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #c1c1c1;
  font-size: 10px;
  font-weight: 500;
}

.user-booking-information-container .user-booking-queue-turns {
  display: flex;
}
.user-booking-information-container .user-booking-queue-turns div {
  background-color: var(--teho-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-weight: 600;
  border-radius: 50%;
  font-size: 20px;
}

.user-booking-information-container .user-booking-queue-turns {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.global-lines {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.global-lines .--global-line {
  height: 4px;
  width: 100%;
  background: #c1c1c1;
}

.user-booking-queue-container .user-booking-information-button {
  display: flex;
  gap: 15px;
}

.waiting-queue-container {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.waiting-queue-lines {
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: space-around;
}

.waiting-queue-lines div {
  background-color: #c1c1c1;
  height: 2px;
  width: 100%;
  border-radius: 2px;
}

.waiting-heading {
  color: #c1c1c1;
  font-size: 28px;
  font-weight: 800;
}

.waiting-queue-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.waiting-queue-bottom-container .waiting-queue-bottom-btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.waiting-queue-bottom-container .waiting-queue-bottom-btn .--text {
  font-weight: 500;
  font-size: 10px;
}

.active-race-queue-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-race-queue-container .arrows {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active-race-queue-container .active-heading {
  display: flex;
  flex-direction: column;
}

.active-race-queue-container .active-heading .--go {
  font-size: 38px;
  line-height: 0.9;
  font-weight: 800;
}

.active-race-queue-container .active-heading .--race {
  font-size: 20px;
  font-weight: 800;
}

