.race-queue-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
}
.race-queue-container .race-queue-container-top-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.race-queue-container .race-queue-container-top-heading .--info {
  color: var(--teho-blue-color);
  font-size: 10px;
}

.race-queue-box {
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  gap: 5px;
}
