.leader-board-row-container {
  display: flex;
  height: 90%;
  font-size: 18px;
  font-weight: 700;
  background-color: #141414;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;


  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}

.leader-board-row-overlay {
  display: flex;
  flex-direction: column;
  height: calc((100% / 20));
}
.leader-board-line {
  height: 10%;
  border: 1px solid #7f7f7f;
  width: 95%;
  border-top: 0;
  align-items: center;
  border-bottom-right-radius: 10px;

  align-self: center;
}

.leader-board-row-container .--index {
  width: 5%;
  justify-content: center;
  color: black;
  align-items: center;
  flex-shrink: 0;
  display: flex;

  border-bottom-right-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.--winning-index {
  border-radius: 17px 0px;
  transform: scaleY(1.05) scaleX(1.05);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.--index-one {
  color: white;
  background: var(
    --gold-number,
    linear-gradient(
      90deg,
      #b07904 0%,
      #f4c408 14%,
      #c68b03 28%,
      #ac7500 46%,
      #a36c05 64%,
      #dea609 84%,
      #f5c80b 100%
    )
  );
}

.--index-two {
  color: black !important;
  background: var(
    --silver-number,
    linear-gradient(
      90deg,
      #b6b4b5 0%,
      #d4d0cf 16.67%,
      #e7e6e6 33.33%,
      #bfc0c2 50%,
      #c4c5c7 66.67%,
      #bfc0c2 83.33%,
      #f0f0f0 100%
    )
  );
}

.--index-three {
  color: white;
  background: var(
    --bronze-number,
    linear-gradient(
      90deg,
      #974e27 0%,
      #7d3e1c 16.67%,
      #a8582c 33.33%,
      #db7f50 50%,
      #b7592b 66.67%,
      #c56434 83.33%,
      #cb7346 100%
    )
  );
}

.leader-board-row-container .--name {
  width: 23%;
  justify-content: start;
  align-items: center;
  display: flex;
  padding-left: 15px;
  font-weight: 18px;
  font-weight: 500;
}

.leader-board-row-container .--score {
  width: 18%;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  display: flex;
  align-items: center;
}

.leader-board-row-container .--total-score {
  width: 18%;
  color: #1cb1d9;
  font-size: 20px;
  align-items: center;
}

.leader-board-enter {
  animation: identifier 3s 1 linear;
}

@keyframes identifier {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}
