.create-user-card-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 12px;
  border-radius: 4px;
  background-color: #2f2f2f;
}

.create-user-card-container .create-user-card-start {
  display: flex;
  gap: 8px;
  flex-grow: 1;
  align-items: center;
}

.create-user-card-container .create-user-card-start .--index {
  font-size: 20px;
  width: 25px;
  text-align: center;
  font-weight: 600;
}

.create-user-card-container .create-state {
  width: 100px;
  display: flex;
  justify-content: end;
}

.global-playing-state,
.global-go-to-site-state {
  font-size: 10px;
  font-weight: 700;
  width: 80px;
  padding: 5px;
  text-align: center;
  position: relative;
  border-radius: 12px;
  border: 2px solid #00cd5e;
  color: #00cd5e;
}
.global-go-to-site-state {
  color: #1cb1d9;
  border: 1px solid #1cb1d9;
}

.create-user-card-container .race-pass-with-status .race-pass {
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
  background: var(--teho-orange-color);
  padding: 3px 8px;
  border-radius: 5px;
}
.create-user-line{
  border: 1px solid var(--Dark-Grey, #2F2F2F);
  padding:2px;
}