.customer-rides-container {
  padding-left: 20px;
  padding-right: 20px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.customer-rides-container .customer-rides-container-player-information {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.custom-rides-booking-top .MuiPaper-root {
  background: radial-gradient(
      56.74% 76.71% at 48.59% 19.18%,
      rgba(161, 161, 161, 0.45) 0%,
      rgba(61, 61, 61, 0.3) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  color: var(--teho-white-color);
  font-size: 14px;
  font-weight: 600;
  border-image-source: radial-gradient(
      67.78% 79.79% at 56.25% 15.41%,
      rgba(148, 148, 148, 0.9) 0%,
      rgba(61, 60, 60, 0.4) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.customer-rides-container .--clr-gold {
  margin-left: 4px;
  margin-right: 4px;
  color: var(--teho-orange-color);
}

.customer-rides-container .MuiAccordionSummary-content {
  display: flex;
  align-items: center;
}

.customer-rides-container .customer-ride-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customer-rides-container .customer-ride-details-container .--combo {
  width: 50%;
}

.customer-rides-container .customer-ride-details-container .--quantity {
  width: 25%;
  text-align: center;
}

.customer-rides-container .customer-ride-details-container .--rides {
  width: 25%;
  text-align: center;
}

.customer-ride-details-container .customer-ride-details-top-head {
  display: flex;
  font-size: 12px;
  font-weight: 600;
}

.customer-ride-details-container .customer-ride-details-tail {
  display: flex;
}

.customer-ride-details-container
  .customer-ride-details-tail
  .customer-ride-details-start {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.customer-rides-container
  .customer-ride-details-container
  .customer-ride-details-start
  .--text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.customer-rides-container
  .customer-ride-details-container
  .customer-ride-details-start
  .--text
  .--slot {
  font-weight: 400;
  color: #c1c1c1;
}

.customer-ride-details-container .customer-ride-details-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c1c1c1;
  padding-top: 8px;
  width: 100%;
}

.customer-ride-details-container .customer-ride-details-total .--total {
  width: 75%;
}

 .customer-ride-player-information-container-head {
  display: flex;
  gap: 10px;
  align-items: start;
}

.customer-rides-container
  .customer-ride-player-information-container
  .MuiPaper-root {
  background: #2f2f2f;
  color: var(--teho-white-color);
}

.customer-rides-container .customer-rides-player-information {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

  .customer-ride-player-information-container-head
  .--name {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  gap: 8px;
}


  .customer-ride-player-information-container-head
  .--name
  .--index {
  background-color: var(--teho-orange-color);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 10px;
  font-weight: 600;
}


  .customer-ride-player-information-container-head
  .--text
  .--num {
  font-weight: 500;
  font-size: 12px;
  color: #c1c1c1;
  display: flex;
}


  .customer-ride-player-information-container-head
  .--text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customer-ride-player-information-container
  .customer-ride-player-information-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customer-rides-container .MuiInputBase-root {
  border-radius: 0px !important;
}

.customer-rides-container .customer-ride-player-information-inputs input {
  padding: 4px !important;
}

.customer-rides-container .customer-ride-player-tag {
  background-color: var(--teho-orange-color);
  color: var(--teho-white-color);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
}

.customer-rides-container .customer-ride-player-information-inputs input {
  color: var(--teho-white-color);
  font-size: 12px;
  font-weight: 500;
  padding: 8px 8px !important;
}

.customer-rides-container .customer-rides-bottom-btn {
  bottom: 0;
  width: 80%;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
}


.customer-rides-container .MuiAccordionDetails-root {
  padding-top: 0px;
}