.customer-verify-host-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  gap: 14px;
}

.customer-verify-host-container .global-otp-box-container {
  padding-top: 15px;
  padding-bottom: 10px;
}

.customer-verify-host-container .MuiFormControl-root input {
  padding: 5.5px 10px;
}
