.leader-board-footer-container {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 1000;
  height: 100px;
  width: 100%;
  bottom: 5px;
  gap: 10px;
  width: 100px;
  left: calc(100% - 100px);
  justify-content: center;
}
.leader-board-footer-container img {
  height: 90px;
  object-fit: contain;
  width: 90px;
}

.leader-board-footer-container .--heading {
  font-size: 24px;
}
