.combo-action-container {
  display: flex;
  gap: 0;
  color: var(--teho-orange-color);
  font-size: 12px;
  font-weight: 800;
  background: #2F2F2F4D;
  border: 1.5px solid #494949;
  border-radius: 14px;
}

.combo-action-container span {
  padding: 6px 14px;
}

.combo-action-container .--items {
  background-color: #494949;
}
