.buy-race-pass-button{
    margin-right: -50px;
}

.help-button{
    margin-left:-50px;
   
}

.retrieve-button-name{
    margin-left: -0px;
    margin-right: -0px;
}

.payCounter{
    margin-left: -40px;
    margin-right: -10px;
}

.help-payment{
    margin-left:-30px;
}

.race-queue-fast{
    width:100%;
}