.payment-unsuccess-card{
padding: 20px 16px 20px 16px;
gap: 12px;
border-radius: 8px ;
background: var(--Dark-Grey, #2F2F2F);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;




}

.payment-unsuccess-main{
    padding:34px 20px 2px 20px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    justify-content: space-around;
    
}



.payment-unsuccess-heading{

font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 19.36px;
text-align: center;


}

.payment-unsuccess-paragraph{


font-family: Inter;
font-size: 12px;
font-weight: 400;
padding:12px 0px 12px 0px;
text-align: center;


}

.payment-unsuccess-image{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-unsuccess-text{

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    color: var(--Teho-White, #F4F4F4);
    padding:12px 24px 20px 24px;
  
    

}

.paymnet-uncess-assistance-team{
    font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 12.1px;
text-align: center;

}

.payment-unsuccess-suppoert-team{
    font-family: Inter;
font-size: 10px;
font-weight: 600;
line-height: 12.1px;
text-align: center;
color: #1CB1D9;

}

.support-card{
    padding:25px 20px 4px 20px;
}

.horizontal-line{
    color: #2F2F2F;
    border: 1px solid;
}
.payment-navbar-buttons{
padding:4px 20px 0px 20px;
display: flex;
justify-content:space-around;
position: fixed;
bottom:0;
padding:10px 0;
width:100%;
flex:1;

}