.global-hex-button-container {
  width: 100%;
  background-color: var(--teho-orange-color);
  color: var(--teho-white-color);
  clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.global-hex-btn-disabled {
    background-color: #C1C1C1;
}