.global-hex-button-container {
  width: 100%;
  background-color: var(--teho-orange-color);
  color: var(--teho-white-color);
  clip-path: polygon(7% 50%, 15% 0%, 85% 0%, 93% 50%, 85% 100%, 15% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 700;
}

.global-hex-btn-disabled {
  background-color: #c1c1c1;
}
