.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  gap: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  padding-left: 20px;
  padding-right: 20px;
}


.retrieve-button {
  background-color: #1cb1d9;
  padding: 5px 10px;
  border: 1px solid #1cb1d9;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.headertab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.transform-mid-active {
  animation: animate 0.35s forwards ease-in-out;
}

@keyframes animate {
  100% {
    transform: scale(1.1);
  }
}

.buy-button {
  background: radial-gradient(
      56.74% 76.71% at 48.59% 19.18%,
      rgba(161, 161, 161, 0.45) 0%,
      rgba(61, 61, 61, 0.3) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  /* border: 1px solid #535252; */
  /* width: 100%; */
  padding: 0.7rem 3.3rem;
  text-align: center;
  font-size: 13px;
  font-weight: 800;
  height: 35px;
  margin: 0em -1.2em;
}

.active-button {
  background-color: #f8990b !important;
}

.arrow-button {
  /* width: 100%; */
  padding: 0.7rem 3.3rem;
  height: 35px;
  font-size: 13px;
  background: radial-gradient(
      56.74% 76.71% at 48.59% 19.18%,
      rgba(161, 161, 161, 0.45) 0%,
      rgba(61, 61, 61, 0.3) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  font-weight: 800;
}

.global-navbar-back-btn {
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: black;
  background: #f4f4f4;
  flex-shrink: 0;
}
