.leader-board-list-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.leader-board-list-container .leader-board-top-heading {
  font-size: 32px;
  color: white;
  height: 70px;
  justify-content: center;
  display: flex;
  align-items: center;
  background: linear-gradient(
    98.39deg,
    #000000 6.42%,
    rgba(0, 0, 0, 0.5) 93.58%
  );
}

.leader-board-list-scores-container {
  display: flex;
  gap: 10px;
  position: relative;
  flex-direction: column;
  position: relative;
  background-position: top;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 1);
}
.leader-board-list-scores-container::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: url('/image 67 (2).png') no-repeat;
  background-position: top;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
  top: 0;
}

.leader-board-list-scores-container .--tour-scores {
  height: 5%;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  padding-left: 20px;
  gap: 10px;
  padding-right: 20px;
}

.global-loader {
  display: flex;
  height: 100dvh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
