* {
    box-sizing: border-box !important;
}
.leader-board-kiosk-header{
padding: 12px 40px 12px 40px;

display: flex;
justify-content: space-between;

background-color: #181818;
height: 50px;

}

.leader-board-kiosk-fastest-main-text{
    font-family: Roboto;
    font-size: 39px;
    font-style: italic;
    font-weight: 900;
    line-height: 46.88px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--Teho-White, #F4F4F4);
    
    padding:8px 0px 0px 0px;
    text-shadow:  6px 0px 8px  #FFFFFFCC;



}

.leader-board-kiosk-global-container{
    height:100%;
}

.main-fast-today-kiosk{
display: flex;
justify-content: space-between;
gap: 10px;
background: linear-gradient(98.39deg, #000000 6.42%, rgba(0, 0, 0, 0.5) 93.58%);
border-width: 1px, 0px, 1px, 0px;
height:70px;
border-style: solid;

border-image-source: radial-gradient(362.1% 2043.53% at 6.67% 15.28%, rgba(255, 255, 255, 0.8) 0%, #000000 0.01%, rgba(176, 176, 176, 0.5) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;


}

.right-side{
    display:flex;
    flex-grow: 1;
   
    flex-direction: column;
    justify-content: center;
   
}
.horizontal-right{
    border: 4px solid var(--Teho-Orange, #F8990B);
    margin-right:10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    background-color: #F8990B;
    margin-bottom:6px;
}
.horizontal-right-1{
    border: 4px solid var(--Teho-Orange, #F8990B);
    margin-right:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
   
    background-color: #F8990B;
    margin-bottom:6px;
}
.horizontal-right-2{
    border: 4px solid var(--Teho-Orange, #F8990B);
    margin-right:35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    background-color: #F8990B;
    margin-bottom:6px;
}

.left-side{
    display:flex;
    flex-grow: 1;
 
    flex-direction: column;
    justify-content: center;
}

.horizontal-left{
    border: 4px solid var(--Tehe-Blue, #1CB1D9);
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left:35px;
    background-color:#1CB1D9;
    margin-bottom:6px;
}
.horizontal-left-1{
    border: 4px solid var(--Tehe-Blue, #1CB1D9);
   
    margin-left: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
    background-color:#1CB1D9;
    margin-bottom:6px;
}
.horizontal-left-2{
    border: 4px solid var(--Tehe-Blue, #1CB1D9);
   margin-left:10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
   
    background-color:#1CB1D9;
    margin-bottom:6px;
}
.gilli{
    height:35px;
    object-fit: cover;
}

.bar-image{
    height:35px;
    object-fit: cover;
}