.leader-board-users-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customer-leader-board-card-header-container {
  display: flex;
  font-weight: 700;
  font-size: 12px;
  align-items: center;
}

.leader-board-users-container .--index {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leader-board-users-container .--user-name {
  width: 65%;
}

.leader-board-users-container .--user-score {
  width: 25%;
  display: flex;
  justify-content: start;
}

.leader-board-users-container .header-score {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.customer-leader-board-card-container {
  display: flex;
  font-size: 14px;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  background: radial-gradient(
    56.74% 76.71% at 48.59% 19.18%,
    rgba(161, 161, 161, 0.45) 0%,
    rgba(61, 61, 61, 0.3) 100%
  );
  border-bottom-right-radius: 12px;
  padding: 8px
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.leader-board-users-container .user-index {
  height: 24px;
  width: 24px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--teho-black-color);
  border-bottom-right-radius: 8px;
}
