.top-players-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}

.top-players-container .--player-card {
	display: flex;
	flex-direction: column;
	width: 250px;
	gap: 10px;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
	padding-bottom: 10px;
}

.top-players-container .--player-card .--cat {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1.25px;
	border: 1.25px solid #ffffff66;
	padding: 14px;
	width: 100%;
	background: conic-gradient(
		from 180deg at 50% 50%,
		#f4c53f 0deg,
		#d58f21 35.85deg,
		#e0a02d 63.14deg,
		#d58f21 120.7deg,
		#e0a02d 142.36deg,
		#d1871d 161.68deg,
		#f4c53f 204.6deg,
		#d58f21 229.15deg,
		#e0a02d 257.65deg,
		#e0a02d 274.09deg,
		#c07e17 302.53deg,
		#e0a02d 331.61deg,
		#f4c53f 340.4deg,
		#f4c53f 349.48deg,
		#f4c53f 360deg
	);
	text-align: center;
}
.top-players-container .--player-card .--name,
.top-players-container .--player-card .--score {
	font-size: 20px;
	font-weight: 600;
}

.top-players-container .--player-card .--score {
	color: #1cb1d9;
}

.top-players-container .--player-card .--name {
	width: 70%;
	padding: 8px;
	border-radius: 4px;
	text-align: center;
}
