.global-view-bill-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  color: #c1c1c1;
  background: radial-gradient(
      56.74% 76.71% at 48.59% 19.18%,
      rgba(161, 161, 161, 0.45) 0%,
      rgba(61, 61, 61, 0.3) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border: 1px solid;
  border-image-slice: 20 20 20 20;
  border-image-source: radial-gradient(
      67.78% 79.79% at 56.25% 15.41%,
      rgba(148, 148, 148, 0.9) 0%,
      rgba(61, 60, 60, 0.4) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.global-view-bill-container .global-bill-top {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 8px;
}

.global-view-bill-container .global-bill-top .global-bill-table {
  display: flex;
}

.global-view-bill-container .global-bill-top .--name {
  width: 60%;
}

.global-view-bill-container .global-bill-top .--iteration {
  width: 20%;
}

.global-view-bill-container .global-bill-top .--price {
  width: 20%;
}

.global-view-bill-container .global-bill-bottom {
  display: flex;
}

.global-view-bill-container .--total {
  width: 80%;
}

.global-view-bill-container .--price {
  width: 20%;
}

.global-view-bill-container .global-bill-bottom {
  padding-top: 10px;
  border-top: 1px solid #484747;
}

.global-view-bill-container .--btm-total {
  font-size: 20px;
  font-weight: 600;
  color: var(--teho-white-color);
}

.global-view-bill-container .--btm-price {
  font-size: 20px;
  font-weight: 600;
  color: var(--teho-white-color);
}

.global-view-bill-container .global-bill-top .--tax {
  padding-top: 15px;
}
