.leader-board-individual-card-container {
  display: flex;
  height: 90%;
  font-size: 18px;
  gap: 4%;
  font-weight: 700;
  background-color: #141414;
  border-top-left-radius: 22px;
}


.leader-board-individual-card-container .--index {
  width: 20%;
  justify-content: center;
  color: black;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  border-bottom-right-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: 500;
}
.leader-board-individual-card-container .--name span {
  text-overflow: ellipsis;
  width: 8ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.leader-board-individual-card-container .--name {
  width: 50%;
  padding-left: 5%;
  justify-content: start;
  align-items: center;
  display: flex;
  font-weight: 14px;
  font-weight: 500;
}
.leader-board-individual-card-container .--score {
  width: 30%;
  font-size: 14px;
  font-weight: 500;
  padding-right: 5%;
  justify-content: center;
  display: flex;
  align-items: center;
}





.non-high-light-blur {
  filter: blur(20px);
}