@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --teho-black-color: #181818;
  --teho-white-color: #f4f4f4;
  --teho-orange-color: #f8990b;

  --teho-blue-color: #1cb1d9;
}

body {
  background-color: var(--teho-black-color);

  font-family: 'Inter';

  color: var(--teho-white-color);
}

.global-outlay-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.global-outlay-container .global-top-nav-bar {
  position: fixed;
  top: 0;
  background: #181818;
  z-index: 200;
  height: 100px;
  width: 100%;
}

.global-outlay-container .global-bottom-content {
  padding-top: 110px;
  flex-grow: 1;
}
