@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --teho-black-color: #181818;
  --teho-white-color: #f4f4f4;
  --teho-orange-color: #f8990b;
  --teho-blue-color: #1cb1d9;
}

body {
  background-color: var(--teho-black-color);
  font-family: "Inter";
  color: var(--teho-white-color);
}
