.leader-board-head-container {
  display: flex;
  height: calc((100dvh - 140px - 200px) / 21);
  font-weight: 700;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  border-radius: 4px;
  background: radial-gradient(
    56.74% 76.71% at 48.59% 19.18%,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.leader-board-head-container div {
  color: white;
  font-weight: 500;
}
.leader-board-head-container .--index {
  width: 5%;
  justify-content: center;
  display: flex;
}

.leader-board-head-container .--name {
  width: 23%;
  justify-content: start;
  padding-left: 15px;

  display: flex;
}

.leader-board-head-container .--score {
  width: 18%;
  justify-content: center;
  display: flex;
}

.leader-board-head-container .--total-score {
  width: 18%;
}

.leader-board-header-individual-container {
  display: flex;
  height: 80px;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  background: radial-gradient(
    56.74% 76.71% at 48.59% 19.18%,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  gap: 3%;
}

.leader-board-header-individual-container div {
  color: #ff9900;
}

.leader-board-header-individual-container .--index {
  width: 20%;
  display: flex;
  justify-content: center;
}

.leader-board-header-individual-container .--name {
  width: 50%;
  padding-left: 5%;
}

.leader-board-header-individual-container .--score {
  width: 30%;
  padding-right: 5%;
  justify-content: center;
  text-align: center;
}
