.tournament-leader-board-nav-container {
  display: flex;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}
.tournament-leader-board-nav-container .--play {
  height: 60px;
  width: 130px;
}
.tournament-leader-board-nav-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.tournament-leader-board-nav-container .--teho {
  height: 60px;
  width: 200px;
  transform: scale(0.7);
}
